@import "../../styles/variables";

.select {
  height: 50px;
  position: relative;
  border-radius: 10px;
  background-color: white;
  border: 1px solid $gray-color;
  cursor: pointer;
}

.option-container {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  z-index: 10;
  position: relative;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.03),0px 1px 4px rgba(0,0,0,0.04),0px 20px 40px rgba(0,0,0,0.04);
}

.arrow {
  position: absolute;
  right: 15px;
  height: 30px; 
  width: 30px;
  top: 10px;
  transition: all ease-in-out 0.2s;

  &.up {
    transform: rotate(180deg);
  }
}
