@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-image: url('../assets/images/gradientCore.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: left;
    min-height: 100vh;
}

*{
    box-sizing: border-box !important;
}

// override bootstrap default

.container{
    max-width: 1220px;
}