@import "../../styles/variables";

.title{
    font-size: 14px; 
    font-weight: 500;
    display:flex; 
    justify-content: space-between;
}

.balance{
    text-align: right;
    color: rgb(110, 121, 143);
}

.option{
    border: 1px solid $gray-color;
    border-radius: 10px;
    background-color: white; 
    flex-grow: 1;

    span{
        span:last-child{
            display: none;
        }
    }
}