.header{
    height: 80px;
    padding: 0 40px;
    display: flex; 
    justify-content: space-between;
}

.logo{
    height: 50px;  
    width:  50px; 
    border-radius: 25px; 
    margin-right: 15px;
}

.name{
    font-size: 17px;
}